.list {
  margin: 50px 20px;
  padding: 50px 20px;
  border: 5px dotted gray;

  .btn {
    display: inline-block;
    width: 120px;
    height: 60px;
    font-size: 25px;
    line-height: 60px;
  }

  .input-wrap {
    display: flex;

    .input {
      display: inline-block;
      margin: 20px;
      border: 1px solid black;
      width: 500px;
      vertical-align: middle;
    }

    .add {
      margin: 20px;
      background-color: green;
      color: white;
      border: 1px solid white;
    }
  }

  .item-wrap {
    margin: 20px 0;
    display: flex;

    .del {
      background-color: red;
      color: white;
      border: 1px solid white;
    }
  }
}
